@import url('style.css');

.ing-book a{
    color: rgb(196, 78, 78);
}

.index-page{
    width: 100%;
}

.slide-contents{
    position: relative;
    width: 100%;
    height: 68vh;
}

.slide-contents img{
    width: 20%;
    height: 100%;
}

.slide-input{
    position: absolute;
    z-index: 8;
    bottom: 7%;
    left: 45%;
    width: 100px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.slide-input span{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.active{
    background-color: red;
}

.content-list{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

.content-list li{
    width: 100%;
    height: 100%;
}

.slide-contents button{
    position: absolute;
    top: 50%;
    display: block;
    opacity: 0.3;
    border-radius: 50%;
    z-index:10;
    width: 65px;
    height: 65px;
    background-color: #fff;
    outline: none; 
    cursor: pointer;
    font-size: 30px; 
    margin-top: -32px; 
}

.slide-contents button:hover{
    opacity: 0.5;
}

.slide-left{
    left: 3%;
}

.slide-right{
    right: 3%;
}

.book-section{
    position: relative;
    width: 100%;
    min-height: 30rem;
    display: flex;
    justify-content: space-between;
}
/* 요일에 맞는 책 부분 */
.day_of_book-list{
    border: 0.6px solid rgba(0,0,0,0.3);
    width: 70%;
}

.week{
    display:flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.03);
    border-top: 0.6px solid rgba(0,0,0,0.03);
    border-bottom: 0.6px solid rgba(0,0,0,0.03);
}

.week li{
    list-style: none;
    display: inline-block;
    flex: 1;
    text-align: center;
}

.week li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 0.3rem;
}

.week li a:hover{
    background-color: rgba(0,0,0,0.05);
}

.most-list-book{
    width: 30%;
    border:0.6px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    min-height: 2rem;
}

.best-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.6px solid rgba(0,0,0,0.3);    
}

.best-text li{
    list-style: none;
    padding: 0.3rem 0rem;
}