*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none{
    display: none;
}

:root{
    --hlgray: #F5F5F5;
    --blue: #0078ff;
    --hblue: #0367fc;
    --cover-gray: #f9fafb;
    --lblue: #0095f6;
    --nomar-gray: #c92317f1;
}

/* 기본 navbar */
.nav{
    position: static;
    width: 100%;
}

/* 1번째 nav 부분 */
.nav-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    border-bottom: 1.5px solid rgba(0,0,0,0.3);
}

/* 로고 부분 */
.logo a{
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
    padding: 0.4rem 0.3rem;
    font-size: 22px;
    font-weight: 600;
}

.logo i{
    color: red;
}

/* 검색 부분 */

.book-search-section{
    width: 34%;
}

.book-search-form{
    width: 100%;
    display: flex;
}

.book-search-form input{
    flex: 1;
    padding: 0.6rem 0.4rem;
    border: 0.6px solid rgba(0,0,0,0.5);
    outline: none;
}

.book-search-form input:focus{
    border-color: var(--hblue);
}

.book-search-form button{
    padding: 0rem 0.8rem;
    background-color: inherit;
    border: 0.6px solid rgba(0,0,0,0.5);
    border-left: 0px solid #fff;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.book-search-form button:hover{
    color: black;
}

/* 정보 부분 */
.user-info-section{
    position: relative;
}

.user-profile{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #Fff;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.user-profile i{
    position: relative;
    font-size: 28px;
}

.options{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 8rem;
    background-color: #fff;
    z-index: 10;
    display: none;
}

.options li{
    list-style:none;
    border: 0.3px solid gray;
}

.options li a:hover{
    background-color: rgba(0,0,0,0.03);
}

.options li a{
    text-decoration: none;
    color: black;
    /* background-color: red; */
    width: 100%;
    display: block;
    padding: 0.6rem 0.3rem;
}

/* 2번째 책 정보 nav */
.nav-second{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-second li{
    list-style: none;
    flex: 1;
    width: 100%;
    text-align: center;
    border-right: 0.2px solid rgba(0,0,0,0.3);
    border-bottom: 0.2px solid rgba(0,0,0,0.3);
}

.nav-second li a:hover{
    color: red;
}

.nav-second li a{
    width: 100%;
    display: inline-block;
    padding: 0.4rem 0rem;
    text-decoration: none;
    color: black;
}

.modals{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
} 

.modal{
    position: relative;
    top: 50%;
    left: 50%;
    width:405px;
    height: 300px;
    margin-left: -200px;
    margin-top: -170px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0.5rem 0.8rem;
}

.modal-close{
    color: red;
    display: flex;
    font-weight: bolder;
    cursor: pointer;
    justify-content: end;
}

.modal-user-email{
    text-align: center;
    margin: 1rem 0rem;
}

.status-mes{
    min-height: 6px;
    /* border: 1px solid black; */
    margin-bottom: 0.4rem;
}

.auth-number-form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.auth-number-form input{
    outline: none;
    padding: 0.5rem 0.4rem;
    margin-bottom: 1rem;
}

.auth-number-form button{
    border: none;
    background: var(--blue);
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    padding: 0.5rem 0rem;
}