@import url('style.css');

body{
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.edit-content{
    width: 66rem;
    margin: 0 auto;
    margin-top: 1.7rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* 프로필 이미지 */

.page-text{
}

.user-infobox{
    /* border: 1px solid blue; */
    margin-top: 0.5rem;
    width: 100%;
    height: 27rem;
    display: flex;
    align-items: center;
}

.profile-image{
    width: 30%;
    height: 100%;
    margin-right: 5rem;
}

.profile-image-text{
    background: var(--blue);
    height: 7%;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-img{
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.img-box{
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.profile-image-form{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 16%;
}

.profile-image-form label{
    width: 100%;
    text-align: center;
    height: 50%;
    cursor: pointer;
    background-color: var(--blue);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-form label:hover{
    background-color: var(--hblue);
}

.profile-image-form input[type="file"]{
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.default-img{
    width: 100%;
    cursor: pointer;
    border: none;
    height: 50%;
    background-color: var(--hlgray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-img:hover{
    background-color: rgba(0,0,0,0.08);
}

/* 유저 정보 */

.user-infomations{
    width: 60%;
    border-radius: 12px;
    height: 27rem;
}

.profile-edit{
    height: 28%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.04);
    margin-bottom: 0.6rem;
}
.profile-edit label{
    margin: 0rem 3rem;
}

.profile-edit input{
    width: 25rem;
    height: 2.4rem;
    padding-left: 0.7rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    outline: none;
}

.profile-edit input:focus{
    border: 2px solid var(--blue);
}

.profile-btn{
    display: flex;
    justify-content: flex-end;
}

.profile-btn button{
    background: var(--blue);
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 16px;
}

.profile-btn button:hover{
    background-color: var(--hblue);
}