{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>
    
    {% include 'infomations.html'%}
    {% include 'navbar.html' %}

    <div class="home-page">

        <div class="chore-section">
            <form action="#" method="post" class="book-search-form">
                {% csrf_token%}
                <input type="text" name="search-book" class="serach-book">
                <button class="book-serach-btn">검</button>
            </form>
        </div>

        <div class="main-section">
            <div class="book-info">
                {% for book in books %}
                    <a href="{% url 'book:Detail'%}?id={{book.id}}">{{book.title}}</a>
                {% endfor %}
            </div>
            <div class="side-info"></div>
        </div>

    </div>

    <script src="{% static 'js/helper.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>