{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="index-page">
        
        <!-- 슬라이드 부분 -->
        <div class="slide-contents">

            <ul class="slide-input">
            </ul>
            
            <div class="slide-content-img">
            </div>

            <button class="slide-left"> < </button>
            <button class="slide-right"> > </button>

        </div>
        <!-- 책 부분 -->
        <main class="book-section">
            <div class="day_of_book-list">
                <ul class="week"> 
                    <li class=""><a href="#day" class="days" id="mon">월</a></li>
                    <li class=""><a href="#day" class="days" id="tue">화</a></li>
                    <li class=""><a href="#day" class="days" id="wed">수</a></li>
                    <li class=""><a href="#day" class="days" id="thu">목</a></li>
                    <li class=""><a href="#day" class="days" id="fri">금</a></li>
                    <li class=""><a href="#day" class="days" id="sat">토</a></li>
                    <li class=""><a href="#day" class="days" id="sun">일</a></li>
                </ul>

                <ul class="day_of_book_list">
                    
                    <li class="book">
                        <a href="#block" class="boot-tag">

                            <div class="book-image">
                                <img src="/media/images/user-image-icon-19_1lDgsmr.jpg" alt="/media/images/user-image-icon-19_1lDgsmr.jpg">
                            </div>

                            <div class="perbook-info">
                                <p class="book-title">죄송합니다용</p>

                                <div class="book-subinfo">
                                    <span class="author-nickname">박태준</span>
                                    <span class="book-like"><i class="fa fa-thumbs-up"></i> 9.99</span>
                                </div>
                            </div>


                        </a>
                    </li>
                    <!-- 2번째거 -->
                    <li class="book">
                        <a href="#block" class="book-tag">

                            <div class="book-image">
                                <img src="/media/images/chair-1.jpg" alt="/media/images/chair-1.jpg">
                            </div>

                            <div class="perbook-info">
                                <p class="book-title">죄송합니다용</p>

                                <div class="book-subinfo">
                                    <span class="author-nickname">기안84</span>
                                    <span class="book-like"><i class="fa fa-thumbs-up"></i> 9.99</span>
                                </div>
                            </div>


                        </a>
                    </li>
                    <!-- 3번째 거 -->
                    <li class="book">
                        <a href="#block" class="book-tag">

                            <div class="book-image">
                                <img src="/media/images/chair-2.jpg" alt="/media/images/chair-1.jpg">
                            </div>

                            <div class="perbook-info">
                                <p class="book-title">죄송합니다용</p>

                                <div class="book-subinfo">
                                    <span class="author-nickname">기안84</span>
                                    <span class="book-like"><i class="fa fa-thumbs-up"></i> 9.99</span>
                                </div>
                            </div>


                        </a>
                    </li>

                </ul>
            </div>
            <!-- 역대 최고 책 부분 -->
            <div class="most-list-book">
                <ul class="best-text">
                    <li class="best">역대 흥행작</li>
                </ul>

                <ul class="all-time-best-book-list">
                    <li class="best-book">
                        <a href="#" class="best-book-tag">

                            <div class="best-book-image">
                                <img src="/media/images/favicon.ico" alt="/media/images/favicon.ico">
                            </div>

                            <div class="best-book-info">
                                <span class="best-book-title">분노의 진형</span>
                                <span class="best-book-author">진형 02</span>
                            </div>

                        </a>
                    </li>
                    <!-- 2번째 베스트 책 -->
                    <li class="best-book">
                        <a href="#" class="best-book-tag">

                            <div class="best-book-image">
                                <img src="/media/images/head.jpg" alt="/media/images/head.jpg">
                            </div>

                            <div class="best-book-info">
                                <span class="best-book-title">분노의 로리충</span>
                                <span class="best-book-author">로리 02</span>
                            </div>

                        </a>
                    </li>

                </ul>

            </div>

        </main>

    </div>


    <script src="{% static 'js/helper.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>