{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Document</title>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="index-page">
        <div class="slide-contents">

            <ul class="content-list">

            </ul>

            <button class="slide-left"> < </button>
            <button class="slide-right"> > </button>
        </div>

        <main class="book-section">
            <div class="day_of_book-list">
                <ul class="week"> 
                    <li class=""><a href="{% url 'book:index' %}?day=mon" class="days" id="mon">월</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=tue" class="days" id="tue">화</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=wed" class="days" id="wed">수</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=thu" class="days" id="thu">목</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=fri" class="days" id="fri">금</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=sat" class="days" id="sat">토</a></li>
                    <li class=""><a href="{% url 'book:index' %}?day=sun" class="days" id="sun">일</a></li>
                </ul>
            </div>

            <div class="most-list-book">

            </div>
        </main>

    </div>


    <script src="{% static 'js/helper.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>