{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/userEdit.css'%}">
    <title>Document</title>
</head>
<body>

    {% include 'infomations.html'%}
    {% include 'navbar.html' %}
    <div class="edit-content">
        <div class="user-infobox">
            <div class="profile-image">
                <div class="profile-image-text">
                    프로필 이미지
                </div>
                <div class="profile-image-img">
                    <div class="img-box">
                        <img src="{{request.user.profile_image.url}}" alt="{{request.user.profile_image.url}}">
                    </div>
                </div>
                <form action="#" method="post" class="profile-image-form">
                    {% csrf_token%}
                    <label for="profile-image-change-btn">프로필 이미지 변경</label>
                    <input type="file" id="profile-image-change-btn" name="profile_image" id="profile_image" accept=".jpg, .jpge, .png, .ico">
                    <input type="button" value="기본 이미지로 변경" class="default-img">
                </form>
            </div>

            <form class="user-infomations" method="post" action="#">
                {% csrf_token %}
                <div class="profile-edit">
                    <label for="username">이름</label>
                    <input type="text" disabled class="username-input">
                </div>
                <div class="profile-edit">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="nickname-input">
                </div>
                <div class="profile-edit">
                    <label for="email">이메일</label>
                    <input type="email" class="email-input">
                </div>
                <div class="profile-btn">
                    <button class="profile-save">저장</button>
                </div>
            </form>

        </div>
    </div>

    <script src="{% static 'js/useredit.js' %}"></script>
    <script src="{% static 'js/helper.js'%}"></script>
</body>
</html>